@model UserViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="my-5 w-75">User @Model.FName @Model.LName Details</h1>


<div class="row justify-content-center align-content-center mt-3">
    <form method="get" asp-controller="Users" asp-action="Details" class="row col-12">
        <div asp-validation-summary="ModelOnly"></div>

        <partial name="PartialViews/DetailsDeletePartialView" />

        <div class="mt-4">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
            <a asp-action="Index" class="btn btn-outline-dark">Back To list</a>
        </div>
    </form>
</div>

@section ValidationScripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}